<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <H1>Employee List</H1>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Blood Type</th>
        </tr>
        <tr th:each="employeee:${employee}">
            <td th:text="${employeee.id}"></td>
            <td th:text="${employeee.name}"></td>
            <td th:text="${employeee.lastName}"></td>
            <td>
                <table>
                    <tr th:each="bloodType:${employeee.bloodType}">
                        <td th:text="${bloodType.id}"></td>
                        <td th:text="${bloodType.name}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>